{% if product.metafields.custom.product_video_section_video != blank 
   or product.metafields.custom.video_template != blank %}
<div class="main-section-video page-width">

  <div class="video-content-wrapper">

    <!-- IMAGE OR VIDEO -->
    {% if product.metafields.custom.product_video_section_video != blank %}   
    <div class="video-section-video">
      <video class="brand_video_styling" width="320" height="240" autoplay muted loop>
            <source type="video/mp4" src="{{ product.metafields.custom.product_video_section_video }}" >
      </video> 
    </div>  
  {% else %}

   <div class="video-section-image">
    <img src="{{ product.metafields.custom.video_template | image_url:"master", width:100}}">
   </div>  
    
  {% endif %} 


    <!-- CONTENT SECTION -->
    <div class="content-section-video">

      <!-- HEADING -->
      <div class="heading-wrapper">

        <img 
          class="quote-img quote-up"
          src="https://cdn.shopify.com/s/files/1/0650/5539/1970/files/images-removebg-preview.png?v=1710761258"
          alt="quote icon">

        <h2 class="section-heading">
          {{ product.metafields.custom.product_video_section_heading }}
        </h2>

        <img 
          class="quote-img quote-down"
          src="https://cdn.shopify.com/s/files/1/0650/5539/1970/files/images-removebg-preview.png?v=1710761258"
          alt="quote icon">

      </div>

      <!-- CONTENT -->
      <div class="text-content">
        {{ product.metafields.custom.product_video_section_content }}
      </div>

    </div>

  </div>

</div>



<style>

.main-section-video {
   width: 100%;
   
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.video-content-wrapper {
  display: flex;
  align-items: center;
}

/* Desktop layout */
.video-section-video,
.video-section-image {
  width: 50%;
}

.content-section-video {
  width: 45%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.heading-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
}

.text-content {
  font-size: 20px;
  line-height: 30px;
}

.video-section-video video,
.video-section-image img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
}

/* hide quotes desktop */
.quote-img {
  display: none;
}



/* MOBILE FIX */
@media only screen and (max-width: 600px) {

.video-content-wrapper {
  flex-direction: column;
}

/* break content container so heading and text can reorder */
.content-section-video {
  display: contents;
}

/* ORDER CONTROL */
.heading-wrapper {
  order: 1;
  text-align: center;
  position: relative;
  padding: 20px 0;
}

.video-section-video,
.video-section-image {
  order: 2;
  width: 100%;
}

.text-content {
  order: 3;
  text-align: center;
  padding: 15px;
}

/* mobile sizes */
.video-section-video video,
.video-section-image img {
  height: 24rem;
}

.section-heading {
  font-size: 26px;
  padding: 0 35px;
}

/* show quotes */
.quote-img {
  display: block;
  width: 35px;
  position: absolute;
}

.quote-up {
  top: 0;
  left: 0;
}

.quote-down {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

}
</style>

{% endif %}

{% schema %}
{
  "name": "Video With Text",
  "settings": [],
  "presets": [
    {
      "name": "Video With Text"
    }
  ]
}
{% endschema %}