{% comment %} <div class="footer_keyword_div small-hide">
  <h2 class="h4 accordion__title">Most Searched Keywords</h2>
  <div>
    <a class="footer_keyword" href="/collections/gift-sets">Valentines day gifts</a>
    <a class="footer_keyword" href="/products/luxury-perfume-gift-set-for-men-4x20-ml">Valentine gift for husband</a>
    <a class="footer_keyword" href="/products/luxury-perfume-gift-set-for-men-4x20-ml">Valentine gift for boyfriend </a>
    <a class="footer_keyword" href="/products/luxury-perfumes-gift-set-for-women-4x20-ml">Valentine gift for wife</a>
    <a class="footer_keyword" href="/products/luxury-perfumes-gift-set-for-women-4x20-ml">Valentines gifts for her</a>
    <a class="footer_keyword" href="/collections/gift-sets">Valentine gift ideas</a>
    <a class="footer_keyword" href="/products/luxury-perfumes-gift-set-for-women-4x20-ml">Valentine gift for girlfriend </a>
    <a class="footer_keyword" href="/collections/gift-sets">Best Valentine's day gifts</a>
    <a class="footer_keyword" href="/collections/gift-sets">Valentine day special gift </a>
    <a class="footer_keyword" href="/products/klub-man-shower-gel">Body wash for men</a>
    <a class="footer_keyword" href="/products/date-woman-shower-gel">Best shower gel for women</a>
    <a class="footer_keyword" href="/products/calm-before-storm-combo">Shower Gel for men and Women</a>
    <a class="footer_keyword" href="/products/date-women-perfume-body-lotion-200-ml">Body lotion for dry skin</a>
    <a class="footer_keyword" href="/products/ceo-man-perfume-body-lotion">Body Lotion for men </a>
    <a class="footer_keyword" href="/products/date-women-perfume-body-lotion-200-ml">Body Lotion for women</a>
    <a class="footer_keyword" href="/products/touch-the-skai-combo">Shower Gel and Perfume Combo</a>
    <a class="footer_keyword" href="/collections/travel-kit">Shower Travel Kit</a>
    <a class="footer_keyword" href="/products/skai-aquatic-travel-minis-kit">Travel Mini Kit </a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Birthday Gift for Women/Girls</a>
    <a class="footer_keyword" href="/collections/gift-sets">Wedding Gifts for Couples</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Gifts for Men Under 500</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Gifts for Women Under 500</a>
    <a class="footer_keyword" href="/products/luxury-perfume-gift-set-for-men-4x20-ml">Birthday Gift for Men/ Boys</a>
    <a class="footer_keyword" href="/pages/bulk-inquiry">Corporate Gifts</a>
    <a class="footer_keyword" href="/collections/luxury-perfumes">Perfume</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Best perfume for men</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Perfume for men</a>
    <a class="footer_keyword" href="/products/vitamin-c-natural-face-wash-for-acne-pimple-and-skin-brightening">Vitamin C Face Wash</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Perfume for women</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Best perfume for women</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Perfume set for women</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Gift for Men</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Valentine day gift for wife</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Valentines day gifts for husband</a>
    <a class="footer_keyword" href="/collections/luxury-perfumes">Valentines day gifts for couples</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Valentine day gifts for girlfriend</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Valentines day gifts for boyfriend</a>
    <a class="footer_keyword" href="/products/vitamin-c-natural-face-wash-for-acne-pimple-and-skin-brightening">Face wash for oily skin</a>
    <a class="footer_keyword" href="/collections/body-scrub">Body scrub</a>
    <a class="footer_keyword" href="/products/eyelift-under-eye-cream-for-dark-circles-and-wrinkles">Dark circle</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Perfume for girls</a>
    <a class="footer_keyword" href="/products/eyelift-under-eye-cream-for-dark-circles-and-wrinkles">Dark circles removal cream</a>
    <a class="footer_keyword" href="/products/anti-acne-face-wash">Acne face wash</a>
    <a class="footer_keyword" href="/products/eyelift-under-eye-cream-for-dark-circles-and-wrinkles">under eye cream</a>
    <a class="footer_keyword" href="/products/luxury-perfumes-gift-set-for-women-4x20-ml">Gift sets for women</a>
    <a class="footer_keyword" href="/collections/body-wash">Body wash for women</a>
    <a class="footer_keyword" href="/products/ayurvedic-kumkumadi-face-glowing-oil">kumkumadi face glowing oil</a>
    <a class="footer_keyword" href="/collections/little-luxury-perfumes-20ml">Pocket perfume for men</a>
    <a class="footer_keyword" href="/products/de-tan-face-pack-for-skin-brightening">De tan face pack</a>
    <a class="footer_keyword" href="/products/anti-acne-pimple-scar-removal-gel">Pimple removal cream</a>
    <a class="footer_keyword" href="/products/nicolips-natural-lip-scrub">Lip scrub</a>
    <a class="footer_keyword" href="/products/de-tan-face-pack-for-skin-brightening">Tan removal face pack</a>
    <a class="footer_keyword" href="/products/anti-acne-face-wash">Face wash for acne</a>
    <a class="footer_keyword" href="/products/ceo-man-body-wash">Body wash for men</a>
    <a class="footer_keyword" href="/products/exfoliate-face-and-body-scrub-for-tan-removal">Exfoliate scrub</a>
    <a class="footer_keyword" href="/products/luxury-perfume-gift-set-for-men-4x20-ml">Gift set for men</a>
    <a class="footer_keyword" href="/products/exfoliate-face-and-body-scrub-for-tan-removal">Coffee Body Scrub</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Best long lasting perfume for men</a>
    <a class="footer_keyword" href="/collections/perfumes-for-him">Perfumes for men under 500</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Perfumes for women under 500</a>
    <a class="footer_keyword" href="/collections/gift-sets">Perfume gift sets</a>
    <a class="footer_keyword" href="/products/ceo-oud-unisex-perfume">Oud perfume</a>
    <a class="footer_keyword" href="/products/ceo-man-perfume-office-wear-with-long-lasting-top-hints">Ceo perfume</a>
    <a class="footer_keyword" href="/products/eyelift-under-eye-cream-for-dark-circles-and-wrinkles">Under eye cream for dark circles</a>
    <a class="footer_keyword" href="/products/anti-acne-pimple-scar-removal-gel">Acne cream</a>
    <a class="footer_keyword" href="/products/vitamin-c-face-cream">Vitamin c cream for face</a>
    <a class="footer_keyword" href="/collections/body-lotion">Body lotion for women</a>
    <a class="footer_keyword" href="/collections/perfumes-for-her">Long lasting perfume for women</a>
    <a class="footer_keyword" href="/products/luxury-perfumes-gift-set-for-women-4x20-ml">Perfume gift pack for her</a>
    <a class="footer_keyword" href="/products/luxury-perfume-gift-set-for-men-4x20-ml">Perfume gift pack for him</a>
    <a class="footer_keyword" href="/products/activated-charcoal-face-wash">Charcoal face wash</a>
  </div>
</div>

{%- style -%}
  .footer_keyword_div a.footer_keyword {
	display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-right: 1.5px solid #fff;
    padding: 0 4px;
    line-height: normal;
    margin: 0;
    white-space: nowrap;
  }
  h2.footer-keyword__heading {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .footer_keyword_div h2.footer-keyword__heading+div {
    font-size: 1.6rem;
  }
{%- endstyle -%}
 {% endcomment %}