<div class="product-offer-badges-container large-hide">
  <div class="product-offer-badge">
    {{ images['gift-fill-svgrepo-com.svg'] | image_url: width: 18, height: 18 | image_tag: 
      loading: 'lazy',
      fetchpriority: 'low',
      srcset: nil,
      is: 'lazy-image'
    }}
    <p class="text-bold no-margin">Exclusive Offers</p>
  </div>  
  <div class="product-offer-badge">
    {{ images['delivery-truck-shipping-and-delivery-svgrepo-com.svg'] | image_url: width: 18, height: 18 | image_tag: 
      loading: 'lazy',
      fetchpriority: 'low',
      srcset: nil,
      is: 'lazy-image'
    }}
    <p class="text-bold no-margin">Free Shipping*</p>
  </div> 
</div>

<style>
@media only screen and (max-width: 749px) {
  .product-offer-badges-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .product-offer-badge {
    display: flex;
    flex: 50%;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
  }
  .product-offer-badge p {
    font-size: 11px;
    letter-spacing: 0.5px;
  }
}
</style>